* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;

    .carta {
        max-width: 30%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 20px;
    }

    .director {
        display: flex;
        flex-direction: row;
    }

    .testi {
        padding-left: 0.5rem;
    }

}